{% extends "base.html" %}
{% block content %}
<div>
{% if current_user.role == 0 %}
<form action="" method="post">
    <button type="submit">Получить заказы</button>
</form>
    <p>Ваш рейтинг: {{rating}}</p>
    <p>Ваш заработок: {{earning}}</p>
<h1> Активные заказы </h1>
{% else %}
<form action="" method="post">
    <a href="{{ url_for('order_append')}}" class="btn btn-danger">
            Добавить заказ
        </a>
</form>

<h1> Заказы в очереди </h1>
{% endif %}
{% for order in orders %}
<h2> {{order.order_id}}</h2>
<div>
    <p>Вес — {{order.weight}}</p>
    <p>Регион — {{order.region}}</p>
    <p>Время доставки:
        {% for hour in order.delivery_hours %}
        {{hour.get_str_time()}}
        {% endfor %}
    </p>
    <p>Дополнительные настройки:</p>
    {% if order.contactless_delivery == 0 %}
    <p>Бесконтактная доставка — Нет</p>
    {% else %}
    <p>Бесконтактная доставка — Да</p>
    {% endif %}
    {% if order.call_before_delivery == 0 %}
    <p>Звонок перед доставкой — Нет</p>
    {% else %}
    <p>Звонок перед доставкой — Да</p>
    {% endif %}
    {% if order.call_after_delivery == 0 %}
    <p>Звонок после доставки — Нет</p>
    {% else %}
    <p>Звонок после доставки — Да</p>
    {% endif %}
    {% if order.SMS_only == 0 %}
    <p>Только СМС-информирование — Нет</p>
    {% else %}
    <p>Только СМС-информирование — Да</p>
    {% endif %}
    <p>Статус: {{order.get_status()}}</p>
    {% if current_user.role != 2 %}
    <a href="{{ url_for('order_done', order_id=order.order_id)}}" class="btn btn-danger">
            Доставлено
        </a>
    {%endif%}
    {% if current_user.login == 'admin' %}
    <a href="{{ url_for('order_delete', id=order.order_id)}}" class="btn btn-danger" name='delete_cour'>
            Удалить заказ
    </a>
    {%endif%}
</div>
{% endfor %}
</div>
{% endblock %}