{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Привет, {{current_user.name}}!</h1>
    {% else %}
        <h1>Привет, Аноним!</h1>
    {% endif %}
    {% if current_user.is_authenticated and current_user.role == 0 %}
        <a class="btn btn-primary " href="/orders_view/{{current_user.login}}">Список заказов</a>
        <p>Ваш рейтинг: {{rating}}</p>
        <p>Ваш заработок: {{earning}}</p>
    {% endif %}
    {% if current_user.is_authenticated and current_user.role == 1 %}
        <a class="btn btn-primary " href="/couriers_view/">Список курьеров</a>
        <a class="btn btn-primary " href="/orders_view/{{current_user.login}}">Просмотр заказов</a>
    {% endif %}
{% endblock %}