{% extends "base.html" %}
{% block content %}
    {% if type == 'update' %}
    <h1>Редактирование заказа номер {{id}} </h1>
    {% else %}
    <h1>Добавление заказа</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{form.weight.label()}}</p>
        <p>{{form.weight()}}</p>
        <p>{{form.delivery_address.label()}}</p>
        <p>{{form.delivery_address()}}</p>
        <p>{{form.region.label()}}</p>
        <p>{{form.region()}}</p>
        <p>{{form.delivery_hours.label()}}</p>
        <p>{{form.delivery_hours()}}</p>
          <p>{{form.contactless_delivery}} {{form.contactless_delivery.label()}}</p><br>
          <p>{{form.call_before_delivery}} {{form.call_before_delivery.label()}}</p><br>
          <p>{{form.call_after_delivery}} {{form.call_after_delivery.label()}}</p><br>
          <p>{{form.SMS_only}} {{form.SMS_only.label()}}</p>
        <p>
        {% if type != 'update' %}
        {{ form.submit(type="submit", class="btn btn-primary") }}
        {% else %}
        {{ form.update(type="submit", class="btn btn-primary") }}
        {%endif%}
        </p>
        <div>{{ message }}</div>
    </form>
{% endblock %}